
                        <div class="mb-3">
                            <label for="phone" class="form-label">Teléfono</label>
                            <input name="phone" type="text" class="form-control" id="phone">
                        </div>
                        <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="fragments/navbar.html :: footer-bootstrap"></script>
    </body>
</html>