<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Lista Transportistas</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de Servicios</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/servicios/nuevo?idMascota='+${idMascota}+'&idCuenta='+${servicios.get(0).getCuentaIdcuenta().getId()}}">Nuevo Servicio</a>
                    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
                </div>
                <form method="post" th:action="@{/shipper/BuscarTransportistas}">
                    <input name="searchField" class="form-control mb-3" type="text" placeholder="Search"/>
                </form>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Mascota</th>
                        <th>Dirección</th>
                        <th>Correo</th>
                        <th>Hora de inicio</th>
                        <th>Duración</th>
                        <th>Entrega</th>
                        <th>Responsable</th>
                    </tr>
                    <tr th:each="serv, info : ${servicios}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${serv.mascotaIdmascota.getNombre()}"></td>
                        <td th:text="${serv.cuentaIdcuenta.getDireccion()}"></td>
                        <td th:text="${serv.cuentaIdcuenta.getCorreo()}"></td>
                        <td th:text="${serv.horaInicio}"></td>
                        <td th:text="${serv.duracion}"></td>
                        <td th:text="${serv.entrega}"></td>
                        <td th:text="${serv.responsableIdresponsable.getNombre()}"></td>
                    </tr>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>